mixin menu-item(text, link='#')
    li(class!=attributes.class)
        a(href= link)= text
        if block
            block

mixin menu-catalog-item(text, img='', link='#')
    li.catalog-menu__item(class!=attributes.class)
        span
            if img==''
                img(src="/assets/img/detal.svg", alt="").catalog-menu__icon
            else
                img(src= img, alt="")
            a(href= link).catalog-menu__link= text
            if block
                i.toggle-menu.toggle-menu--black.catalog-menu__toggle
        if block
            ul.catalog-menu__sub-menu
                block