footer.footer
    .wrapper
        .footer__top-line
            .footer__info-column
                .footer__column-title
                    h3 Каталог
                    i.toggle-menu.toggle-menu--white.footer__menu-toggle
                ul.footer__info-block
                    +menu-item('CUMMINS')
                    +menu-item('DEUTZ')
                    +menu-item('PERKINS')
                    +menu-item('CATERPILLAR')
                    +menu-item('LIEBHERR')
                    +menu-item('ZETOR')
                    +menu-item('Фильтра, масла')
                    +menu-item('Услуги')
                    +menu-item('Разное')
            .footer__info-column
                .footer__column-title
                    h3 Информация 
                    i.toggle-menu.toggle-menu--white.footer__menu-toggle
                ul.footer__info-block
                    +menu-item("О Нас", link='#')
                    +menu-item("Контакты", link='#')
                    +menu-item("Оплата и доставка", link='#')
                    +menu-item("Политика конфиденциальности", link='#')
            .footer__info-column
                .footer__column-title
                    h3 Учотная запись
                    i.toggle-menu.toggle-menu--white.footer__menu-toggle
                ul.footer__info-block
                    +menu-item("Личный кабинет", link='#')
                    +menu-item("История заказов", link='#')
                    +menu-item("Изменение пароля", link='#')
                    +menu-item("Выйти", link='#')
            .footer__info-column
                .footer__column-title
                    h3 Контакты
                    i.toggle-menu.toggle-menu--white.footer__menu-toggle
                .footer__info-block
                    p #[span Телефон] +380986414409 +380976403206 +380934673200
                    p #[span Адрес: ] Украина Киевская область Броварыбульв. Независимости 31, офис 307
                    p #[span E-Mail: ] cummins.dst@gmail.com
        .footer__copywrite
            p Сopyright © 2020 Quick Parts
