header.header
    .header__top-line.wrapper
        a(href="#").header__menu-toggle
        .header__phone
            .header-phone
                i.icon__phone.icon__phone--red
                span.header-phone__number +380636986753
                i.icon__angle.icon__angle--down
                ul.header-phone__dropdown
                    li
                        i.icon__phone.icon__phone--red
                        span.header-phone__number +380976403206
                    li
                        i.icon__phone.icon__phone--red
                        span.header-phone__number +380976403206
                    li
                        i.icon__phone.icon__phone--red
                        span.header-phone__number +380976403206
        .header__logo
            a(href="/")
                figure
                    img(src="/catalog/view/theme/QuickParts/assets/images/logo.svg", alt="")
        .header__search
            form(action="/search" method="get" id="search").search-field
                input(type="text" placeholder="ПОИСК ТОВАРОВ").search-field__input
        a(href="#").header__cart

    .header__bottom-line
        .wrapper
            .header__mobile-addition-menu                      
                form(action="/search" method="get" id="search").search-field
                    input(type="text" placeholder="ПОИСК ТОВАРОВ").search-field__input
                a(href="#").header__mobile-menu-close 
            nav
                ul.header__navigation-list
                    li.header__navigation-list--catalog
                        a(href="#") Каталог
                        .catalog-menu.catalog-menu--open
                            ul 
                                +menu-catalog-item('CUMMINS')
                                    +menu-item('Головка блока цилиндров', '#')
                                    +menu-item('Коленвал', '#')
                                    +menu-item('Блок цилиндров', '#')
                                    +menu-item('Распредвал', '#')
                                    +menu-item('Поршневая группа', '#')
                                    +menu-item('Турбокомпрессор', '#')
                                    +menu-item('Охлаждение ДВС', '#')
                                    +menu-item('Система смазки', '#')
                                    +menu-item('ТНВД, ТННД', '#')
                                    +menu-item('Прокладки ДВС', '#')
                                +menu-catalog-item('DEUTZ')
                                    +menu-item('Головка блока цилиндров', '#')
                                    +menu-item('Охлаждение ДВС', '#')
                                    +menu-item('Система смазки', '#')
                                    +menu-item('ТНВД, ТННД', '#')
                                    +menu-item('Прокладки ДВС', '#')
                                +menu-catalog-item('PERKINS')
                                    +menu-item('Охлаждение ДВС', '#')
                                    +menu-item('Система смазки', '#')
                                    +menu-item('ТНВД, ТННД', '#')
                                    +menu-item('Прокладки ДВС', '#')
                                +menu-catalog-item('CATERPILLAR')
                                    +menu-item('Охлаждение ДВС', '#')
                                    +menu-item('Система смазки', '#')
                                    +menu-item('ТНВД, ТННД', '#')
                                    +menu-item('Прокладки ДВС', '#')
                                +menu-catalog-item('LIEBHERR')
                                    +menu-item('Головка блока цилиндров', '#')
                                    +menu-item('Коленвал', '#')
                                    +menu-item('Блок цилиндров', '#')
                                    +menu-item('Распредвал', '#')
                                    +menu-item('Поршневая группа', '#')
                                    +menu-item('Турбокомпрессор', '#')
                                    +menu-item('Охлаждение ДВС', '#')
                                    +menu-item('Система смазки', '#')
                                    +menu-item('ТНВД, ТННД', '#')
                                    +menu-item('Прокладки ДВС', '#')
                                +menu-catalog-item('ZETOR')
                                    +menu-item('Головка блока цилиндров', '#')
                                    +menu-item('Коленвал', '#')
                                    +menu-item('Блок цилиндров', '#')
                                    +menu-item('Прокладки ДВС', '#')
                                +menu-catalog-item('Фильтра, масла')
                                +menu-catalog-item('Услуги')
                                +menu-catalog-item('Разное')
                    +menu-item('Главная')
                    +menu-item('О нас')
                    +menu-item('Контакты')
                    +menu-item('Доставка и оплата')
            ul.header-service
                li.header-service__user-account
                    a(href="#")
                        span Войти
                li.header-service__cart
                    a(href="#")
            ul.header__mobile-phone
                li +380636986753
                li +380636986753
                li +380636986753


