// - Импорт переменных
@import "base/vars";
// - Сбросить стандартные стили 
@import "base/reset";
// - Настройки шрифтов
@import "base/fonts";
    
.alert, .warning
    ul, p
        margin-right: 0
        margin-left: 0
        padding-bottom: 0