extends ../layout/main

block variables
    - var title = 'Home page';
    - var pageClass = 'home_page';
    - var mainContentClass = 'wrapper';

block  main-content
    h1 Start
    .products-slider
        +product-card('Масляный насос CASE 860/8840/4308 DAF45/55 YUTONG ZK-6737D/ZK6831', '3 000 грн')
        +product-card('Масляный насос CASE 860/8840/4308', '3 000 грн', '/assets/img/product_img_2.jpg', '5 000 грн')
        +product-card('Масляный насос CASE 860/8840/4308 DAF45/55 YUTONG ZK-6737D/ZK6831', '3 000 грн', '', '5 687 грн')
        +product-card('Масляный насос CASE 860/8840/4308', '3 000 грн', '/assets/img/product_img_2.jpg', '5 000 грн', 'f')
        +product-card('Масляный насос CASE 860/8840/4308 DAF45/55 YUTONG ZK-6737D/ZK6831')
        +product-card('Масляный насос CASE 860/8840/4308 DAF45/55 YUTONG ZK-6737D/ZK6831')