extends ../layout/main

block variables
    - var title = 'Element page';
    - var pageClass = '';
    - var mainContentClass = 'wrapper';

block head
    style

block  main-content
    h1 Start

    .b_content
        h2 Продажа запчастей к двигателям
        p Cummins, Perkins, Deutz, Zetor, Liaz, Tatra, Yanmar, John Deere, CAT, Komatsu, Case, XCMG, Isuzu, Andoria, JC
        h2 Ремонт двигателей(ДВС).
        p Проводим диагностику ДВС, согласовываем с клиентом замену изношенных деталей, качество применяемых запчастей (оригинал/аналог), ремонт, пуск двигателя. После ремонта двигателя проводится его пуск в цеху. Видео с первого пуска двигателя можно увидеть на нашем канале в Youtube.