include ../mixins/menu
include ../mixins/product-card
include ../common/bread-crumbs

doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title #{title}
        block head
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        include ../common/header/header--open-menu
            block banner
                section.wrapper
                    .home-page-banner
                        .home-page-banner__slide-inner
                            .home-page-banner__content
                                h3.home-page-banner__title Запчасти на <br> двигатель
                            figure.home-page-banner__image
                                img(src="/catalog/view/theme/QuickParts/assets/images/home_baner_1.jpg", alt="")
        
        div(style='height: 200px')

        include ../common/header/header
        +bread-crumbs('', '')

        div(style='height: 700px')
        include ../common/footer