ul 
    +menu-catalog-item('CUMMINS')
        +menu-item('Головка блока цилиндров', '#')
        +menu-item('Коленвал', '#')
        +menu-item('Блок цилиндров', '#')
        +menu-item('Распредвал', '#')
        +menu-item('Поршневая группа', '#')
        +menu-item('Турбокомпрессор', '#')
        +menu-item('Охлаждение ДВС', '#')
        +menu-item('Система смазки', '#')
        +menu-item('ТНВД, ТННД', '#')
        +menu-item('Прокладки ДВС', '#')
    +menu-catalog-item('DEUTZ')
        +menu-item('Головка блока цилиндров', '#')
        +menu-item('Охлаждение ДВС', '#')
        +menu-item('Система смазки', '#')
        +menu-item('ТНВД, ТННД', '#')
        +menu-item('Прокладки ДВС', '#')
    +menu-catalog-item('PERKINS')
        +menu-item('Охлаждение ДВС', '#')
        +menu-item('Система смазки', '#')
        +menu-item('ТНВД, ТННД', '#')
        +menu-item('Прокладки ДВС', '#')
    +menu-catalog-item('CATERPILLAR')
        +menu-item('Охлаждение ДВС', '#')
        +menu-item('Система смазки', '#')
        +menu-item('ТНВД, ТННД', '#')
        +menu-item('Прокладки ДВС', '#')
    +menu-catalog-item('LIEBHERR')
        +menu-item('Головка блока цилиндров', '#')
        +menu-item('Коленвал', '#')
        +menu-item('Блок цилиндров', '#')
        +menu-item('Распредвал', '#')
        +menu-item('Поршневая группа', '#')
        +menu-item('Турбокомпрессор', '#')
        +menu-item('Охлаждение ДВС', '#')
        +menu-item('Система смазки', '#')
        +menu-item('ТНВД, ТННД', '#')
        +menu-item('Прокладки ДВС', '#')
    +menu-catalog-item('ZETOR')
        +menu-item('Головка блока цилиндров', '#')
        +menu-item('Коленвал', '#')
        +menu-item('Блок цилиндров', '#')
        +menu-item('Прокладки ДВС', '#')
    +menu-catalog-item('Фильтра, масла')
    +menu-catalog-item('Услуги')
    +menu-catalog-item('Разное')