include ../mixins/menu

block variables

doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title #{title}
        block head
        meta(name="viewport", content="width=device-width, initial-scale=1")

    body(class=pageClass)
        include ../common/header
        main(class=mainContentClass)
            block main-content
        section(style='height: 400px')
        include ../common/footer