include ../mixins/menu

block variables

doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title #{title}
        block head
        meta(name="viewport", content="width=device-width, initial-scale=1")

    body(class=pageClass)
        include ../common/header
        section.wrapper
            .banner_main
                .slide_inner
                    .slide_title
                        h3 Запчасти на <br> двигатель
                    figure.slide_image
                        img(src="/catalog/view/theme/QuickParts/assets/images/home_baner_1.jpg", alt="")


        main(class=mainContentClass)
            block main-content